@font-face {
  font-family: "Jura";
  src: url("/fonts/Jura/Jura-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal italic;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("/fonts/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal italic;
}
$accent-font: "Ibarra Real Nova", sans-serif;
$text-font: "Jura", serif;
