<section class="container-fluid text-center bg-primary-light p-5 m-0">
  <h2 class="fw-bold pb-3">SOBRE MIM</h2>

  <article class="row">
    <div class="col-12 d-block d-md-none position-relative pb-4">
      <img
        ngSrc="/about.png"
        routerLink=""
        fragment="home"
        alt="Imagem de Natália Wiggers, consultora de imagem e estilo"
        class="img-fluid"
        width="400"
        height="651"
        priority
      />
    </div>

    <header class="col text-start pt-3">
      <h3 class="fw-light">OLÁ</h3>
      <p class="text-light">
        Sou consultora de imagem e estilo, formada em Design de Moda, e minha
        paixão é ajudar pessoas a se conectarem com sua essência e traduzirem
        isso em um estilo autêntico. Acredito que cada pessoa é única e que seu
        jeito de se vestir pode ser uma poderosa ferramenta para expressar quem
        você realmente é.
      </p>

      <h3 class="fw-light pt-4">MINHA MISSÃO</h3>
      <p class="text-light">
        Minha missão é promover a sua autoestima e bem-estar, valorizando seu
        corpo, sua personalidade e sua história. Quero ajudar você a se olhar no
        espelho com orgulho e a se sentir confiante para encarar o mundo. Meu
        objetivo é revelar o seu valor e criar um estilo que reflita a sua
        melhor versão, de forma leve e verdadeira. Juntas, vamos construir uma
        imagem que conta a sua história e faz você se sentir incrível em
        qualquer momento da sua vida.
      </p>

      <h3 class="fw-light pt-4">VALORES</h3>
      <p class="text-light">
        Ética, respeito, autenticidade, confiança, empatia, valorização da
        individualidade, e compromisso com a transformação.
      </p>
    </header>

    <div class="col position-relative d-none d-md-block">
      <img
        ngSrc="/about.png"
        routerLink=""
        fragment="home"
        alt="Imagem de Natália Wiggers, consultora de imagem e estilo"
        class="img-fluid"
        width="400"
        height="651"
        priority
      />
    </div>
  </article>
</section>
