<section class="container-fluid text-center bg-primary-light p-5 m-0">
  <h2 i18n class="fw-bold pb-3 text-uppercase">About me</h2>

  <article class="row">
    <div class="col-12 d-block d-md-none position-relative pb-4 rounded">
      <img
        ngSrc="about-natalia-wiggers.png"
        alt="Image by Natália Wiggers, image and style consultant"
        i18n-alt
        class="img-fluid"
        width="485"
        height="708"
        priority
      />
    </div>

    <header class="col text-start pt-3">
      <h3 i18n class="fw-light text-uppercase">Hi</h3>
      <p i18n class="text-light">
        I am a Fashion Designer and specialist in helping women connect with
        their essence and translate it into an authentic style, communicating
        with the world through their image. Through Image and Style Consulting
        and Personal Color Analysis, I help people express themselves uniquely,
        blending style, essence, and harmony!
      </p>

      <h3 i18n class="fw-light pt-4">My mission</h3>
      <p i18n class="text-light">
        My mission is to promote your self-esteem and well-being, highlighting
        what you can communicate through your image.
      </p>
      <p i18n class="text-light">
        My goal is that, when you look in the mirror, you feel confident to face
        the world and express your personality. Together, we will build an image
        that tells your story and makes you feel ready for any moment in your
        life.
      </p>

      <h3 i18n class="fw-light pt-4">Values</h3>
      <p i18n class="text-light">
        Ethics, respect, authenticity, trust, empathy, valuing individuality,
        and commitment to transformation.
      </p>
    </header>

    <div class="col position-relative d-none d-md-block rounded">
      <img
        ngSrc="about-natalia-wiggers.png"
        i18n-alt
        alt="Image by Natália Wiggers, image and style consultant"
        class="img-fluid rounded"
        width="485"
        height="708"
        priority
      />
    </div>
  </article>
</section>
