<section class="container-fluid text-center bg-primary pt-3">
  <div class="row align-items-center">
    <div class="col-sm-12 col-lg-4 position-relative">
      <img
        ngSrc="logo-natalia-wiggers.png"
        class="img-fluid"
        alt="Logo da Natália Wiggers Consultoria de Imagem e Estilo"
        width="300"
        height="100"
      />
    </div>
    <div class="col-sm-12 col-lg-4">
      <a
        href="https://wa.me/5544999132622?text=Olá,%20tudo%20bem?%20Gostaria%20de%20saber%20mais%20sobre%20como%20funciona%20a%20consultoria%20de%20imagem%20e%20estilo!%20🥰"
        class="btn btn-sm link-secondary accent-font fs-4 d-inline-flex align-items-center"
        target="_blank"
      >
        <i class="bi bi-whatsapp fs-4 me-2"></i> WhatsApp
      </a>
      <a
        href="https://www.instagram.com/nataliawiggersconsultoria"
        class="btn btn-sm link-secondary accent-font fs-4 d-inline-flex align-items-center"
        target="_blank"
      >
        <i class="bi bi-instagram fs-4 me-2"></i> Instagram
      </a>
      <div class="row align-items-center">
        <nav class="d-flex justify-content-center gap-5">
          <a
            class="link-secondary fs-4 d-flex text-decoration-none"
            routerLink=""
            fragment="about"
            (click)="onNavigateToFragment('about')"
            >Sobre Mim</a
          >
          <a
            class="link-secondary fs-4 d-flex text-decoration-none"
            routerLink=""
            fragment="services"
            (click)="onNavigateToFragment('services')"
            >Serviços</a
          >
        </nav>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <h2 class="fs-4">Entre em Contato</h2>
      <h3 class="fs-4"><strong>Telefone: </strong>(44) 9 9913-2622</h3>
    </div>
  </div>

  <div class="row align-items-center">
    <p class="accent-font fs-4">
      <strong>Local:</strong> Av. Paraná, 3074 - Alto Paraná, PR
    </p>
  </div>
</section>
