<section class="container-fluid text-center bg-primary p-5 m-0">
  <div class="row align-items-center">
    <h2 i18n class="fw-bold pb-4 text-uppercase">Entre em Contato</h2>
  </div>
  <div class="row align-items-start">
    <div class="col-sm-12 col-lg-6 text-end pe-lg-5">
      <img
        ngSrc="contact-natalia-wiggers.png"
        class="img-fluid rounded"
        i18n-alt
        alt="Contact Me - Natália Wiggers Image and Style Consulting"
        width="380"
        height="550"
      />
    </div>
    <div class="col-sm-12 col-lg-6 ps-lg-5">
      <h3 class="fw-light text-font fs-4 d-block text-start m-0 mb-1 px-2 py-1">
        <i class="bi bi-telephone fs-4 me-2"></i>
        <strong i18n class="fw-bold">Telephone: </strong>(44) 9 9913-2622
      </h3>
      <div class="w-100 d-flex align-items-start">
        <a
          href="https://wa.me/5544999132622?text=Olá,%20tudo%20bem?%20Gostaria%20de%20saber%20mais%20sobre%20como%20funciona%20a%20consultoria%20de%20imagem%20e%20estilo!%20🥰"
          class="btn btn-sm link-secondary fs-4 fw-light mb-1 d-inline-flex text-start"
          target="_blank"
        >
          <i class="bi bi-whatsapp fs-4 me-2"></i>WhatsApp
        </a>
      </div>
      <div class="w-100 d-flex align-items-start">
        <a
          href="https://www.instagram.com/nataliawiggersconsultoria"
          class="btn btn-sm link-secondary fs-4 fw-light mb-1 d-inline-flex text-start"
          target="_blank"
        >
          <i class="bi bi-instagram fs-4 me-2"></i>Instagram
        </a>
      </div>
      <h3 class="fw-light text-font fs-4 d-block text-start m-0 mb-1 px-2 py-1">
        <i class="bi bi-envelope fs-4 me-2"></i>
        <strong i18n class="fw-bold">E-mail: </strong
        >contato&#64;nataliawiggers.com
      </h3>
      <h3 class="fw-light text-font fs-4 d-block text-start m-0 mb-1 px-2 py-1">
        <i class="bi bi-geo-alt fs-4 me-2"></i>
        <strong i18n class="fw-bold">Location: </strong>Rua Inglaterra, 1327,
        Alto Paraná - PR
      </h3>
      <a
        href="https://maps.app.goo.gl/g85gN83ym7L2VRTg7"
        class="d-flex text-start"
        target="_blank"
      >
        <img
          ngSrc="location-natalia-wiggers.png"
          class="img-fluid rounded mt-2"
          i18n-alt
          alt="Location - Natália Wiggers Image and Style Consulting"
          width="550"
          height="301"
        />
      </a>
    </div>
  </div>
</section>
