@use "@styles/palettes.scss" as palettes;
@use "@styles/breakpoints.scss" as breakpoints;
@use "@styles/variables.scss" as variables;

.toolbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: palettes.$beige;
  color: palettes.$purple;
  height: variables.$toolbar-height;
  width: 100%;
  padding: 0;

  @include breakpoints.respond-to(small) {
    padding: 0px 40px;
  }

  @include breakpoints.respond-to(medium) {
    padding: 0px 25px;
  }

  @include breakpoints.respond-to(large) {
    padding: 0px 100px;
  }
}
