<section class="container-fluid text-center p-0 m-0">
  <div class="row align-items-center">
    <div class="col d-none d-md-block">
      <div class="d-flex justify-content-end">
        <img
          ngSrc="home-natalia-wiggers.png"
          routerLink=""
          fragment="home"
          i18n-alt
          alt="Natalia Wiggers Logo"
          priority
          class="img-fluid"
          width="413"
          height="600"
        />
      </div>
    </div>

    <article class="col h-100 d-flex flex-column g-5">
      <header class="text-center mb-4 d-none d-md-block">
        <h1 class="fs-3 fw-bold text-uppercase">Natália Wiggers</h1>
        <h2 i18n class="fs-5 fw-light mb-5 text-uppercase">
          Image & Style Consulting
        </h2>
      </header>

      <div class="text-center m-5 d-none d-md-block">
        <p i18n class="fs-5 text-secondary text-uppercase">
          Dress your essence, <br />
          because style is being you.
        </p>
      </div>

      <footer class="d-flex justify-content-center d-none d-md-flex w-auto">
        <button
          i18n
          type="button"
          color="primary"
          routerLink=""
          fragment="services"
          (click)="onNavigateToFragment('services')"
          class="btn btn-primary btn-lg m-5 text-uppercase"
        >
          My services
        </button>
      </footer>
    </article>

    <div class="col-12 d-block d-md-none position-relative">
      <header class="text-center">
        <h1 class="fs-3 fw-bold text-uppercase">Natália Wiggers</h1>
        <h2 i18n class="fs-5 fw-light mb-5 text-uppercase">
          Image & Style Consulting
        </h2>
      </header>

      <div class="text-center">
        <p i18n class="fs-5 text-secondary text-uppercase">
          Dress your essence, <br />
          because style is being you.
        </p>
      </div>

      <div class="position-relative">
        <img
          ngSrc="home-natalia-wiggers.png"
          routerLink=""
          fragment="home"
          i18n-alt
          alt="Natália Logo"
          priority
          class="img-fluid"
          width="413"
          height="600"
        />

        <footer
          class="d-flex justify-content-center position-absolute bottom-0 start-50 translate-middle-x mb-3"
        >
          <button
            i18n
            type="button"
            color="primary"
            routerLink=""
            fragment="services"
            (click)="onNavigateToFragment('services')"
            class="btn btn-primary btn-lg text-uppercase"
          >
            My services
          </button>
        </footer>
      </div>
    </div>
  </div>
</section>
